/* CSS Document - CSS to the rescue */

*,
*::after,
*::before {
  box-sizing: border-box;
}

/*********************/
/* CUSTOM PROPERTIES */
/*********************/
:root {}

/***************************/
/* GENERAL styles ELEMENTS */
/***************************/

/* HIDE ELEMENTS*/
h1,
h2,
input {
  clip: rect(0, 0, 0, 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}
body{
  overflow: hidden;
}
body,
ul,
div,
label {
  margin: 0;
  padding: 0;
  /* overflow: hidden; */
}

/*background decor beach*/
main>div:first-of-type {
  background-image: linear-gradient(to bottom,
      #93e7f0,
      #79ddf2,
      #60d2f5,
      #4ac6f7,
      #3db9f9,
      #3db9f9,
      #3db9f9,
      #3db9f9,
      #4ac6f7,
      #f8e9b6,
      #fae192,
      #f2d2a9,
      #f6d7b0);

  height: 100vh;
  margin: 0;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

/* change background decor, darkmode*/ 
body:has(:checked) div:first-of-type {
  background-image: linear-gradient(to bottom, #1d1d50, #1a1e53, #171f56, #132059, #0d215c, #042f68, #003d72, #054b7b, #316989, #5c8597, #89a1a6, #b9bcbc);
  height: 100vh;
  margin: 0;
  background-repeat: no-repeat;
  background-attachment: fixed;
 
}

/*create the sun*/
main>div:nth-of-type(2) {
  background: radial-gradient(ellipse at center,
      #ffd000 1%,
      #f9b700 39%,
      #f9b700 39%,
      #e06317 100%);
  height: 4em;
  width: 4em;
  border: 0 !important;
  background-position: -175em -6.4375em;
  background-size: 175%;
  box-shadow: 0 0 0.625em 0.125em rgba(255, 107, 0, 0.4),
    0 0 1.375em 0.6875em rgba(255, 203, 0, 0.13);
  position: absolute;
  top: 3em;
  left: 80%;
  border-radius: 50%;
}

body:has(:checked) div:nth-of-type(2) {
display:none;
}

/*moon*/
body:has(:checked) div:nth-of-type(3) {
  margin:auto;
  background-color:transparent;
  height:7em;
  width:7em;
  border-radius:50%;
  
  box-shadow: 1em 0.3em 0em rgb(240, 184, 43);
  position: absolute;
  top: 3em;
  left: 80%;
  
}
/* create the flare*/
label {
  position: absolute;
  bottom: 10%;
  content: "";
  display: block;
  margin: 0 auto;
  height: 3em;
  width: 0.8em;
  left: 50%;
  background-image: linear-gradient(150deg,
      #ff2727 40%,
      #fff 40% 66%,
      #ff2727 40%);
}

label::before {
  content: "";
  position: absolute;
  top: -2.2em;
  left: -0.78em;
  border-top: 1.2em solid transparent;
  border-right: 1.2em solid transparent;
  border-bottom: 1.2em solid #ff2727;
  border-left: 1.2em solid transparent;
}

label::after {
  content: "";
  position: absolute;
  left: calc(50% - 0.15em);
  width: 0.23em;
  height: 2em;
  background-color: #554842;
  bottom: -2em;
  border-bottom-right-radius: 60%;
  border-bottom-left-radius: 60%;
}

ul:first-of-type {
  overflow: hidden;
  /* Hide the element content, while height = 0 */
  height: 0;
  opacity: 0;
  transition: height 0ms 400ms, opacity 400ms 0ms;
}

body:has(:checked) ul {
  height: auto;
  opacity: 1;
  transition: height 0ms 0ms, opacity 600ms 0ms;
  height: auto;
  opacity: 1;
  transition: height 0ms 0ms, opacity 600ms 0ms;
  position: absolute;
  top: 50%;
  left: 50%;

  animation-name: firework;
  animation-duration: 2s;
  transition-delay: 2s;
}

body:has(:checked) label {
  animation-name: flareHigh;
  animation-duration: 1s;
  /* animation-iteration-count: infinite; */
}

body:has(:checked) div:nth-of-type(4) {
	animation-play-state:running;
} 
div:nth-of-type(4), div:nth-of-type(4)::before, div:nth-of-type(4)::after{
  --top: 60vh;
  content: "";
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 0.5vmin;
  aspect-ratio: 1;
  background:
    /* random backgrounds */
    radial-gradient(circle, #ff0 0.2vmin, #0000 0) 50% 00%,
    radial-gradient(circle, red 0.3vmin, #0000 0) 00% 50%,
    radial-gradient(circle, #ff0 0.5vmin, #0000 0) 50% 99%,
    radial-gradient(circle, red 0.2vmin, #0000 0) 99% 50%,
    radial-gradient(circle, #ff0 0.3vmin, #0000 0) 80% 90%,
    radial-gradient(circle, red 0.5vmin, #0000 0) 95% 90%,
    radial-gradient(circle, #ff0 0.5vmin, #0000 0) 10% 60%,
    radial-gradient(circle, red 0.2vmin, #0000 0) 31% 80%,
    radial-gradient(circle, #ff0 0.3vmin, #0000 0) 80% 10%,
    radial-gradient(circle, red 0.2vmin, #0000 0) 90% 23%,
    radial-gradient(circle, #ff0 0.3vmin, #0000 0) 45% 20%,
    radial-gradient(circle, #ff0 0.5vmin, #0000 0) 13% 24%
    ;
  background-size: 0.5vmin 0.5vmin;
  background-repeat: no-repeat;
  animation: fireworkYellowRed 3s infinite;
   animation-play-state: paused;
}

div:nth-of-type(3)::before {
  transform: translate(-50%, -50%) rotate(25deg) !important; 
}

div:nth-of-type(3)::after {
  transform: translate(-50%, -50%) rotate(-37deg) !important;
}
/* flare animation */
@keyframes flareHigh {
  0% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(-20rem);
  }
}

/* firework animation */
@keyframes firework {
  0% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(-30rem);
  }
}

@keyframes fireworkYellowRed {
  0% { 
    transform: translate(-50%, 80vh);
    width: 0.5vmin;
    opacity: 1;
  }
  50% { 
    width: 0.5vmin;
    opacity: 1;
  }
  100% { 
    width: 45vmin; 
    opacity: 0; 
  }
}


/* waves */
/* div:nth-of-type(2),
div:nth-of-type(2)::before,
div:nth-of-type(2)::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 250vw;
  height: 250vw;
  margin-left: -125vw;
  transform-origin: 50% 50%;
  background-color: transparent;
  border-radius: 38% 42%;
  animation: spin 16s infinite linear;
  mix-blend-mode: multiply;
  background-color: #2ea2bf;
}

div:nth-of-type(2)::before {
  width: 105%;
  height: 95%;
  margin-top: -125vw;
  transform-origin: 49% 51%;
  border-radius: 40% 38%;
  animation: spin 13s infinite linear;
  background-color: #35cff5;
}

div:nth-of-type(2)::after {
  width: 102%;
  height: 98%;
  margin-top: -125vw;
  transform-origin: 51% 49%;
  border-radius: 48% 42%;
  animation: spin 10s infinite linear;
  background-color: #2e70d2;
} */

/* waves animation */
/* @keyframes spin {
  100% {
    transform: rotate(360deg);
  }
} */